In [47]:
import pandas as pd
import numpy as np

In [70]:
df0=pd.read_csv('C:/Users/chany/OneDrive/바탕 화면/콩나물_상품_340g_일별소매가_전부.csv',encoding='cp949')

In [71]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1391 entries, 0 to 1390
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      1391 non-null   object
 1   평균      1391 non-null   object
 2   유통업체    1391 non-null   object
dtypes: object(3)
memory usage: 32.7+ KB

In [72]:
df1=pd.read_excel('C:/Users/chany/OneDrive/바탕 화면/가격정보1.xlsx')

In [73]:
df1['전통시장']=np.nan
df1=df1.sort_values(by = '구분 ')
df1.rename(columns={'구분 ': '구분'}, inplace=True)

In [74]:
df1.head()

            구분     평균   유통업체  전통시장
28  2024.10.28  2,325  2,325   NaN
27  2024.10.29  2,325  2,325   NaN
26  2024.10.30  2,349  2,349   NaN
25  2024.10.31  2,349  2,349   NaN
24  2024.11.01  2,349  2,349   NaN

In [75]:
df=pd.concat([df0, df1])
df['구분'] = df['구분'].str.replace('.', '-', regex=True)
df

            구분     평균   유통업체  전통시장
0   2021-01-04  2,330  2,330   NaN
1   2021-01-05  2,330  2,330   NaN
2   2021-01-06  2,330  2,330   NaN
3   2021-01-07  2,484  2,484   NaN
4   2021-01-08  2,492  2,492   NaN
..         ...    ...    ...   ...
4   2024-11-29  2,381  2,381   NaN
3   2024-12-02  2,412  2,412   NaN
2   2024-12-03  2,412  2,412   NaN
1   2024-12-04  2,421  2,421   NaN
0   2024-12-05  2,421  2,421   NaN

[1420 rows x 4 columns]

In [77]:
df.to_csv('콩나물_상품_340g_일별소매가_전부.csv',index=False,encoding='cp949')