In [17]:
import pandas as pd
import numpy as np

In [89]:
df0=pd.read_csv('product_price_20241210.csv',encoding='cp949')
df0

,구분,평균,전통시장,유통업체,품목,품목_오이무침,품목_콩나물무채국,품목_새송이버섯야채볶음,품목_무생체,품목_호박된장찌개
0,2014-01-02,202,200,204,감자,NaN,NaN,NaN,NaN,호박된장찌개
1,2014-01-03,208,200,215,감자,NaN,NaN,NaN,NaN,호박된장찌개
2,2014-01-04,208,200,215,감자,NaN,NaN,NaN,NaN,호박된장찌개
3,2014-01-05,208,200,215,감자,NaN,NaN,NaN,NaN,호박된장찌개
4,2014-01-06,281,217,323,감자,NaN,NaN,NaN,NaN,호박된장찌개
...,...,...,...,...,...,...,...,...,...,...
55701,2024-11-29,"17,996","14,983","19,000",오이,오이무침,NaN,NaN,NaN,NaN
55702,2024-12-02,"17,921","14,683","19,000",오이,오이무침,NaN,NaN,NaN,NaN
55703,2024-12-03,"17,854","14,417","19,000",오이,오이무침,NaN,NaN,NaN,NaN
55704,2024-12-04,"17,813","14,083","19,056",오이,오이무침,NaN,NaN,NaN,NaN
55705,2024-12-05,"17,709","13,867","19,065",오이,오이무침,NaN,NaN,NaN,NaN

In [91]:
df0['품목'].unique()

array(['감자', '건고추', '고구마', '깐마늘', '당근', '대파', '무', '배추', '시금치', '쌀',
       '애호박', '양배추', '양파', '오이'], dtype=object)

In [93]:
df0.columns

Index(['구분', '평균', '전통시장', '유통업체', '품목', '품목_오이무침', '품목_콩나물무채국',
       '품목_새송이버섯야채볶음', '품목_무생체', '품목_호박된장찌개'],
      dtype='object')

In [95]:
df1=pd.read_csv('품목_소매가_전부_갱신.csv',encoding='cp949')
df1=df1.loc[~df1['품목'].isin(['새송이버섯', '콩나물'])]
df1

       index          구분     평균   전통시장   유통업체  품목
0          0  2014-01-02  202.0  200.0  204.0  감자
1          1  2014-01-03  208.0  200.0  215.0  감자
2          2  2014-01-04  208.0  200.0  215.0  감자
3          3  2014-01-05  208.0  200.0  215.0  감자
4          4  2014-01-06  281.0  217.0  323.0  감자
...      ...         ...    ...    ...    ...  ..
59704  59704  2024-12-01  529.0  574.0  508.0  팽이
59705  59705  2024-12-02  529.0  574.0  508.0  팽이
59706  59706  2024-12-03  530.0  569.0  512.0  팽이
59707  59707  2024-12-04  534.0  566.0  519.0  팽이
59708  59708  2024-12-05  569.0  564.0  571.0  팽이

[59709 rows x 6 columns]

In [97]:
df2=pd.read_csv('콩나물_상품_340g_일별소매가_전부.csv',encoding='cp949')
df2['전통시장'] = np.nan
df2['품목']='콩나물'
df2['품목_오이무침']=np.nan
df2['품목_콩나물무채국']='콩나물무채국'
df2['품목_새송이버섯야채볶음']=np.nan
df2['품목_무생체']=np.nan
df2['품목_호박된장찌개']=np.nan
df2

,구분,평균,유통업체,전통시장,품목,품목_오이무침,품목_콩나물무채국,품목_새송이버섯야채볶음,품목_무생체,품목_호박된장찌개
0,2021-01-04,"2,330","2,330",NaN,콩나물,NaN,콩나물무채국,NaN,NaN,NaN
1,2021-01-05,"2,330","2,330",NaN,콩나물,NaN,콩나물무채국,NaN,NaN,NaN
2,2021-01-06,"2,330","2,330",NaN,콩나물,NaN,콩나물무채국,NaN,NaN,NaN
3,2021-01-07,"2,484","2,484",NaN,콩나물,NaN,콩나물무채국,NaN,NaN,NaN
4,2021-01-08,"2,492","2,492",NaN,콩나물,NaN,콩나물무채국,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1427,2024-12-01,"2,381","2,381",NaN,콩나물,NaN,콩나물무채국,NaN,NaN,NaN
1428,2024-12-02,"2,412","2,412",NaN,콩나물,NaN,콩나물무채국,NaN,NaN,NaN
1429,2024-12-03,"2,412","2,412",NaN,콩나물,NaN,콩나물무채국,NaN,NaN,NaN
1430,2024-12-04,"2,421","2,421",NaN,콩나물,NaN,콩나물무채국,NaN,NaN,NaN
1431,2024-12-05,"2,421","2,421",NaN,콩나물,NaN,콩나물무채국,NaN,NaN,NaN

In [99]:
df3=pd.read_csv('새송이_상품_100g_일별소매가_전부.csv',encoding='cp949')
df3['품목']='새송이버섯'
df3['품목_오이무침']=np.nan
df3['품목_콩나물무채국']=np.nan
df3['품목_새송이버섯야채볶음']='새송이버섯야채볶음'
df3['품목_무생체']=np.nan
df3['품목_호박된장찌개']=np.nan
df3

,구분,평균,전통시장,유통업체,품목,품목_오이무침,품목_콩나물무채국,품목_새송이버섯야채볶음,품목_무생체,품목_호박된장찌개
0,2014-01-02,643,663,627,새송이버섯,NaN,NaN,새송이버섯야채볶음,NaN,NaN
1,2014-01-03,633,663,608,새송이버섯,NaN,NaN,새송이버섯야채볶음,NaN,NaN
2,2014-01-04,633,663,608,새송이버섯,NaN,NaN,새송이버섯야채볶음,NaN,NaN
3,2014-01-05,633,663,608,새송이버섯,NaN,NaN,새송이버섯야채볶음,NaN,NaN
4,2014-01-06,625,663,593,새송이버섯,NaN,NaN,새송이버섯야채볶음,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
3986,2024-12-01,527,569,507,새송이버섯,NaN,NaN,새송이버섯야채볶음,NaN,NaN
3987,2024-12-02,534,569,518,새송이버섯,NaN,NaN,새송이버섯야채볶음,NaN,NaN
3988,2024-12-03,538,565,525,새송이버섯,NaN,NaN,새송이버섯야채볶음,NaN,NaN
3989,2024-12-04,535,562,522,새송이버섯,NaN,NaN,새송이버섯야채볶음,NaN,NaN
3990,2024-12-05,571,563,575,새송이버섯,NaN,NaN,새송이버섯야채볶음,NaN,NaN

In [101]:
df4=df1[df1['품목']=='팽이'].copy()
df4['품목_오이무침']=np.nan
df4['품목_콩나물무채국']=np.nan
df4['품목_새송이버섯야채볶음']=np.nan
df4['품목_무생체']=np.nan
df4['품목_호박된장찌개']='호박된장찌개'
df4

,index,구분,평균,전통시장,유통업체,품목,품목_오이무침,품목_콩나물무채국,품목_새송이버섯야채볶음,품목_무생체,품목_호박된장찌개
55718,55718,2014-01-02,614.0,684.0,573.0,팽이,NaN,NaN,NaN,NaN,호박된장찌개
55719,55719,2014-01-03,624.0,703.0,578.0,팽이,NaN,NaN,NaN,NaN,호박된장찌개
55720,55720,2014-01-04,624.0,703.0,578.0,팽이,NaN,NaN,NaN,NaN,호박된장찌개
55721,55721,2014-01-05,624.0,703.0,578.0,팽이,NaN,NaN,NaN,NaN,호박된장찌개
55722,55722,2014-01-06,626.0,703.0,581.0,팽이,NaN,NaN,NaN,NaN,호박된장찌개
...,...,...,...,...,...,...,...,...,...,...,...
59704,59704,2024-12-01,529.0,574.0,508.0,팽이,NaN,NaN,NaN,NaN,호박된장찌개
59705,59705,2024-12-02,529.0,574.0,508.0,팽이,NaN,NaN,NaN,NaN,호박된장찌개
59706,59706,2024-12-03,530.0,569.0,512.0,팽이,NaN,NaN,NaN,NaN,호박된장찌개
59707,59707,2024-12-04,534.0,566.0,519.0,팽이,NaN,NaN,NaN,NaN,호박된장찌개
59708,59708,2024-12-05,569.0,564.0,571.0,팽이,NaN,NaN,NaN,NaN,호박된장찌개

In [103]:
df=pd.concat([df0,df2,df3,df4])
df

,구분,평균,전통시장,유통업체,품목,품목_오이무침,품목_콩나물무채국,품목_새송이버섯야채볶음,품목_무생체,품목_호박된장찌개,index
0,2014-01-02,202,200,204,감자,NaN,NaN,NaN,NaN,호박된장찌개,NaN
1,2014-01-03,208,200,215,감자,NaN,NaN,NaN,NaN,호박된장찌개,NaN
2,2014-01-04,208,200,215,감자,NaN,NaN,NaN,NaN,호박된장찌개,NaN
3,2014-01-05,208,200,215,감자,NaN,NaN,NaN,NaN,호박된장찌개,NaN
4,2014-01-06,281,217,323,감자,NaN,NaN,NaN,NaN,호박된장찌개,NaN
...,...,...,...,...,...,...,...,...,...,...,...
59704,2024-12-01,529.0,574.0,508.0,팽이,NaN,NaN,NaN,NaN,호박된장찌개,59704.0
59705,2024-12-02,529.0,574.0,508.0,팽이,NaN,NaN,NaN,NaN,호박된장찌개,59705.0
59706,2024-12-03,530.0,569.0,512.0,팽이,NaN,NaN,NaN,NaN,호박된장찌개,59706.0
59707,2024-12-04,534.0,566.0,519.0,팽이,NaN,NaN,NaN,NaN,호박된장찌개,59707.0
59708,2024-12-05,569.0,564.0,571.0,팽이,NaN,NaN,NaN,NaN,호박된장찌개,59708.0

In [105]:
df.to_csv('product_price_20241212.csv', index=False, encoding='cp949')