In [5]:
import pandas as pd

In [16]:
import pandas as pd
import glob
import os

def load_and_concat_csv_files(directory_path):
    # .csv 파일 찾기
    csv_files = glob.glob(os.path.join(directory_path, "*.csv"))

    # CSV 파일 확인
    if not csv_files:
        print("지정된 경로에 CSV 파일이 없습니다.")
        return None

    # CSV 파일을 읽어와 DataFrame으로 변환
    dataframes = []
    for file in csv_files:
        try:
            df = pd.read_csv(file, encoding='cp949')  # 인코딩 방식 cp949
            dataframes.append(df)
        except Exception as e:
            print(f"파일 {file} 읽기 중 오류 발생: {e}")
    
    # DataFrame 병합
    if dataframes:
        combined_df = pd.concat(dataframes, ignore_index=True)
        
        # 컬럼명 설정
        if len(combined_df.columns) >= 3:  # 최소 3개의 컬럼이 있어야 컬럼명을 변경 가능
            combined_df.columns = ["날짜", "예측 가격", "품목"]
        else:
            print("DataFrame에 충분한 컬럼이 없습니다. 컬럼명을 변경하지 않았습니다.")
        
        return combined_df
    else:
        print("CSV 파일을 병합할 수 없습니다.")
        return None

# 함수 호출 예제
directory_path = r"C:/Users/kitcoop/Desktop/LSTM결과/"
combined_df = load_and_concat_csv_files(directory_path)

# 결과 확인
if combined_df is not None:
    print("병합된 DataFrame 미리보기:")
    print(combined_df.head())
else:
    print("병합된 결과가 없습니다.")

병합된 DataFrame 미리보기:
           날짜        예측 가격  품목
0  2024-12-05  4054.000000  배추
1  2024-12-06  2968.091797  배추
2  2024-12-07  3011.455566  배추
3  2024-12-08  3075.107422  배추
4  2024-12-09  3167.710205  배추

In [18]:
combined_df

             날짜        예측 가격   품목
0    2024-12-05  4054.000000   배추
1    2024-12-06  2968.091797   배추
2    2024-12-07  3011.455566   배추
3    2024-12-08  3075.107422   배추
4    2024-12-09  3167.710205   배추
..          ...          ...  ...
398  2024-12-31  5350.742676  고구마
399  2025-01-01  5348.656738  고구마
400  2025-01-02  5342.543945  고구마
401  2025-01-03  5333.709961  고구마
402  2025-01-04  5324.848633  고구마

[403 rows x 3 columns]

In [20]:
combined_df.to_csv('total_price_prediction.csv', index=False, encoding='cp949')

# -------------------------------------------------------------

In [60]:
df=pd.read_csv("total_price_prediction.csv",encoding='cp949')

In [62]:
df

             날짜        예측 가격   품목
0    2024-12-05  4054.000000   배추
1    2024-12-06  2968.091797   배추
2    2024-12-07  3011.455566   배추
3    2024-12-08  3075.107422   배추
4    2024-12-09  3167.710205   배추
..          ...          ...  ...
398  2024-12-31  5350.742676  고구마
399  2025-01-01  5348.656738  고구마
400  2025-01-02  5342.543945  고구마
401  2025-01-03  5333.709961  고구마
402  2025-01-04  5324.848633  고구마

[403 rows x 3 columns]

In [72]:
df0=pd.read_csv("C:/Users/kitcoop/Desktop/pumpkin_predictions2.csv",encoding='cp949')
df1=pd.read_csv("C:/Users/kitcoop/Desktop/pange_predictions2.csv",encoding='cp949')
df2=pd.read_csv("C:/Users/kitcoop/Desktop/saesonge_predictions2.csv",encoding='cp949')
df3=pd.read_csv("C:/Users/kitcoop/Desktop/kong_predictions.csv",encoding='cp949')

In [76]:
df0.rename(columns={'예측가격':'예측 가격'},inplace=True)
df1.rename(columns={'예측가격':'예측 가격'},inplace=True)
df2.rename(columns={'예측가격':'예측 가격'},inplace=True)
df3.rename(columns={'예측가격':'예측 가격'},inplace=True)

In [78]:
df=pd.concat([df,df0,df1,df2,df3])
df

            날짜        예측 가격   품목
0   2024-12-05  4054.000000   배추
1   2024-12-06  2968.091797   배추
2   2024-12-07  3011.455566   배추
3   2024-12-08  3075.107422   배추
4   2024-12-09  3167.710205   배추
..         ...          ...  ...
26  2024-12-31  2394.987549  콩나물
27  2025-01-01  2393.183838  콩나물
28  2025-01-02  2391.306152  콩나물
29  2025-01-03  2390.069824  콩나물
30  2025-01-04  2390.434570  콩나물

[620 rows x 3 columns]

In [86]:
df[df['품목']=='새송이버섯']

            날짜       예측 가격     품목
0   2024-12-05  571.000000  새송이버섯
1   2024-12-06  592.542419  새송이버섯
2   2024-12-07  594.585815  새송이버섯
3   2024-12-08  595.907959  새송이버섯
4   2024-12-09  596.678406  새송이버섯
..         ...         ...    ...
26  2024-12-31  556.041565  새송이버섯
27  2025-01-01  559.704285  새송이버섯
28  2025-01-02  564.311401  새송이버섯
29  2025-01-03  569.172852  새송이버섯
30  2025-01-04  574.090088  새송이버섯

[62 rows x 3 columns]

In [80]:
df.to_csv('total_price_prediction_20241212.csv', index=False, encoding='cp949')